@import "tailwindcss";
 
html {
  scroll-behavior: smooth;
}
 
.bg-grid-pattern {
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, rgba(139,92,246,0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(139,92,246,0.06) 1px, transparent 1px);
}